.lessons-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .lessons-wrapper {
    display: flex;
    justify-content: space-around;
  }
  
  .level-container {
    margin-top: 20px;
    text-align: center;
  }
  
  ul {
    list-style: none;
    padding: 0; 
  }
  
  button {
    margin-top: 10px;
    margin-bottom: 10px;
  }