.container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  h2 {
    text-align: center;
  }
  
  .options-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .option-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .option-box:hover {
    background-color: #e0e0e0;
  }
  
  .selected {
    background-color: #b3daff;
  }

  button:hover {
    background-color: #45a049;
  }
  
  .selected {
    background-color: lightblue;
  }
  .incorrect {
    background-color: lightcoral;
  }
  .correct {
    background-color: lightgreen;
  }

  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }


  .step.active {
    opacity: 1;
  }
  
  .step.finish {
    background-color: #04AA6D;
  }

  .step.inc {
    background-color: lightcoral;
  }

  .popup-notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
    opacity: 0;
    display: flex;
    align-items: center;
  }
  
  .popup-notification.show {
    opacity: 1;
  }
  
  .star-icon {
    font-size: 72px;
    color: #FFCC00;
    margin-right: 10px;
    margin-top: -15px;
  }
  
  .popup-content {
    margin-top: 5px;
  }

.option-button {
  pointer-events: none;
  background-color: white;
  margin-bottom: 10px;
  color: black;
  text-transform: none;
}

.option-button.selected {
  background-color: lightblue;
}