.Navbar {
    background-color: rgb(117, 209, 42);
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    gap: 20px;
}

.feature {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile {
    border: 1px solid transparent;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.user {
    margin-right: 15px;
}

.textbutton {
    border: none;
    background-color: inherit;
    color: #35200C;
    font: Inter;
    font-size: 20px;
}

.textbutton:hover {
    font-weight: bold;
    cursor: pointer;
}